<ion-grid >

  <ion-row class="ion-wrap" >
    <ion-col *ngFor="let pokemon of pokemons | filter:pages:search"  sizeXs="12" sizeSm="6" sizeMd="3" sizeLg="2">
      <ion-card *ngIf="pokemons">
        
        <ion-card-header>
          <img [src]="pokemon.pic" alt="">
        </ion-card-header>
        
        
        <ion-card-content>
          <ion-card-title class="ion-text-center">{{pokemon.name | titlecase}}</ion-card-title>
          <ion-button  expand="full" color="tertiary">
            Details
          </ion-button>
        </ion-card-content>
        <ion-spinner *ngIf="!pokemons" name="crescent"></ion-spinner>
      </ion-card>
  
    </ion-col>


  </ion-row>
  
</ion-grid>
