.noPlaying{
    animation: move ease-in-out infinite 1s;
}

@keyframes move {
    0%{
       transform: scale(1);
    }
    50%{
       transform: scale(1.02);
        
    }
    0%{
        transform: scale(1);
   
    }
}

.reduce{
     
    animation: reducer ease .5s;
    transform: scale(0)
}

@keyframes reducer {
    0%{
       transform: scale(1);
    }

    100%{
        transform: scale(0);
   
    }
}

//pokeball animations

.deciding{
    animation: deciding ease-in-out infinite 2s
}

@keyframes deciding {
    0%{
       transform: rotate(0);
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
       transform: rotate(0);
        
    }
    75%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0);
   
    }
}