<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title  class="ion-text-center"> <h2>{{namePokemon | titlecase}} Details</h2></ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="max-width: 1400px;"  class="ion-align-content-center">
    <ion-card class="ion-align-content-center ion-margin">
    <ion-row>

      <ion-col sizeXs="12" sizeSm="6">
        <img style="width: 100%;" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{idPokemon}}.png">
      </ion-col>

      <ion-col sizeXs="12" sizeSm="6">

       <ion-grid>
        <ion-title class="ion-text-center ion-margin-bottom">Types of the Pokemon</ion-title>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-justify-content-center" *ngFor="let type of tipesPokemon">
              <div class="flex">
              <img class="img" style="width: 95px;" src="/assets/types/{{type.type.name}}.svg">
              <ion-title class="ion-text-center"><h3>{{type.type.name}}</h3></ion-title>
              </div>   
          </ion-col>
        </ion-row>
       </ion-grid>
       <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-list *ngFor="let stat of statsPokemon">
              <ion-item >

                    <ion-label>{{stat.stat.name}}</ion-label>

           
                     <ion-label class="ion-text-end">{{stat.base_stat}}</ion-label>
                   

              </ion-item>
            </ion-list>
        
          </ion-col>
        </ion-row>
       </ion-grid>
        <ion-button routerLink="/home" class="ion-margin" expand="full" color="tertiary">Back</ion-button>
      </ion-col>



    </ion-row>
  </ion-card>
  </ion-grid>

</ion-content>


